<?xml version="1.0" encoding="utf-8"?>
<SystemProperties>
  <SystemName>System5</SystemName>
  <SerialNo>VIRTUAL_USE</SerialNo>
  <UsedMedia>
    <Media path="C:\Users\HUAWEI\AppData\Local\ABB Industrial IT\Robotics IT\RobotWare\RobotWare_6.07.0130" name="RobotWare" version="6.07.0130">
    </Media>
  </UsedMedia>
  <ControlModule>
    <Option descr="RobotWare Base">
    </Option>
    <Option descr="623-1 Multitasking">
    </Option>
    <Option descr="604-1 MultiMove Coordinated">
    </Option>
    <Option descr="Chinese">
    </Option>
    <Option descr="709-1 DeviceNet Master/Slave">
    </Option>
    <Option descr="969-1 PROFIBUS Controller">
    </Option>
    <Option descr="888-2 PROFINET Controller/Device">
    </Option>
  </ControlModule>
  <DriveModule>
    <Name>Robot1</Name>
    <Option descr="Drive System IRB 2600/4400/6400R">
    </Option>
    <Option descr="ADU-790A in position X3">
    </Option>
    <Option descr="ADU-790A in position Y3">
    </Option>
    <Option descr="ADU-790A in position Z3">
    </Option>
    <Option descr="Axis Calibration">
    </Option>
    <Option descr="IRB 2600-12/1.65 Type B">
    </Option>
  </DriveModule>
  <DriveModule>
    <Name>Robot2</Name>
    <Option descr="Drive System IRB 2600/4400/6400R">
    </Option>
    <Option descr="ADU-790A in position X3">
    </Option>
    <Option descr="ADU-790A in position Y3">
    </Option>
    <Option descr="ADU-790A in position Z3">
    </Option>
    <Option descr="Axis Calibration">
    </Option>
    <Option descr="IRB 2600-12/1.65 Type B">
    </Option>
  </DriveModule>
</SystemProperties>